version: '3'

services:
  node0:
    container_name: node0
    image: "tendermint/localnode"
    command: ["node", "--proxy_app", "tcp://192.167.10.9:26658", "kvstore", "--consensus.create_empty_blocks=false"]
    ports:
      - "26656-26657:26656-26657"
    environment:
      - ID=0
      - LOG=${LOG:-tendermint.log}
    volumes:
      - ./build:/tendermint:Z
    networks:
      localnet:
        ipv4_address: 192.167.10.2

  node1:
    container_name: node1
    image: "tendermint/localnode"
    command: ["node", "--proxy_app", "kvstore", "--consensus.create_empty_blocks=false"]
    ports:
      - "26659-26660:26656-26657"
    environment:
      - ID=1
      - LOG=${LOG:-tendermint.log}
    volumes:
      - ./build:/tendermint:Z
    networks:
      localnet:
        ipv4_address: 192.167.10.3

  node2:
    container_name: node2
    image: "tendermint/localnode"
    command: ["node", "--proxy_app", "kvstore", "--consensus.create_empty_blocks=false"]
    ports:
      - "26662-26663:26656-26657"
    environment:
      - ID=2
      - LOG=${LOG:-tendermint.log}
    volumes:
      - ./build:/tendermint:Z
    networks:
      localnet:
        ipv4_address: 192.167.10.4
        
  app0:
    container_name: app0
    image: "eddsatendermintserver_server"
    command: ["/target/release/server", "--address", "192.167.10.9:26658"]
    ports:
      - "26658:26658"
    networks:
      localnet:
        ipv4_address: 192.167.10.9

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.167.10.0/16


